@tailwind base;
@tailwind components;
@tailwind utilities;

.message-item {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  @apply w-full mb-2 px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500
}